<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card-content">
        <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
          <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Enter your name">
            </div>
            <div class="input-field col s12">
              <input type="text" name="position" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Enter your position">
            </div>
            <div class="input-field col s12">
              <input type="text" name="office" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Enter your office">
            </div>
            <div class="input-field col s12">
              <input type="text" name="salary" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Enter your salary">
            </div>
            <div class="card-option">
              <div class="input-field col s12">
                
                <button (click)="resetForm(employeeForm)" class="btn right" style="margin-left:5px;">Clean</button>
                <button class="btn right">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col s7">
      <div *ngFor="let employee of employeeService.employees" class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">
            {{employee.name}}
            &nbsp;&nbsp;</span>
            <a (click)="editEmployee(employee)">
              <i class="material-icons">
                edit
              </i>
            </a>
            <a (click)="deleteEmployee(employee._id)">
                <i class="material-icons">
                  delete
                </i>
              </a>
          <h5>Position</h5>
          <br>
          <p>{{employee.position}}</p>
        </div>
        <div class="card-title white">
          Salary: {{employee.salary}}<br>
          Office: {{employee.office}}
        </div>
      </div>
    </div>
  </div>
</div>
